# Created by .ignore support plugin (hsz.mobi)
### Symfony template

# Logs (Symfony4)
/var/log/*

# Managed by Composer
/vendor/

# Assets and user uploads
/web/bundles/
/web/uploads/

.git
.dockerignore
.idea
docker/**/Dockerfile
docker-compose*.yml
.deptrac.cache
.phpcs-cache

